@import "tailwindcss";

@theme {
  --color-cs-dark-blue: #0c385a;
  --color-cs-light-blue: #2384c6;

  --font-display: var(--font-bebas-neue);
  --font-primary: var(--font-outfit);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  font-family: var(--font-primary), system-ui, sans-serif;
  background-color: #ffffff;
  color: var(--color-cs-dark-blue);
}
